header {
  background-color: rgb(142, 181, 142);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

header p {
  margin: 0; /* デフォルトのマージンを削除 */
  font-size: 20px;
}

header a {
  text-decoration: none; /* リンクの下線を削除 */
  color: black;
}

.main {
  width: 70%;
  margin: 0 auto;
}

.ViewThreads {
  background-color: rgb(196, 190, 190);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.ViewThreads a {
  text-decoration: none;
  color: black;
  display: inline-block;
  border-bottom: solid 1px rgb(93, 87, 87);
  height: 40px;
  width: 90%;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px;
}

.ViewThreadComments {
  background-color: rgb(196, 190, 190);
  height: 800px;
}

.ViewThreadComments li {
  list-style: none;
  border-bottom: solid 1px rgb(93, 87, 87);
  height: auto;
  width: 90%;
  height: auto;
  margin: 0;
  margin-bottom: 20px;
  padding: 10px;
}

#comment {
  height: 150px;
}

#comment input {
  width: 250px;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
}

#comment button {
  cursor: pointer;
  padding: 3px 4px;
}
